# Maximización de créditos.

**Objetivo General:**
Se tiene como propósito aplicar los conocimientos obtenidos en el primer módulo de la materia. En este caso orientamos la práctica a la programación lineal en un caso de otorgamiento de créditos financieros.

**Objetivos Especificos:**
1. Plantear un problema financiero que se pueda resolver con programación lineal.
2. Resolver dicho problema.
3. Aumentar la complejidad vista en clase.
4. Usar términos respecto al área trabajada.
5. Mostrar que si se obtuvo el conocimiento de la clase.
6. Saber resolver un problema relacionado a tu área.
7. Reforzar los conocimiento previos.

Un fondo de inversión está ofreciendo una ronda de financiamiento para distintas PYMES. El fondo está ofreciendo 4'000,000 de pesos mexicanos distribuidos en las mejores propuestas. Lo máximo que el fondo está dispuesto a invertir en cada empresa es de 750,000 pesos. El objetivo del fondo ademas de ayudar a las PYMES, es maximizar los rendimientos.

Existen nueve empresas interesadas en el financimiento propuesto por el fondo las cuales exigen lo siguiente:

1. $E_1$:(Tasa de retorno=$9.25\%$; Años para el retorno=5,Riesgo=BB)
1. $E_2$:(Tasa de retorno=$8.40\%$; Años para el retorno=5 Riesgo=BB)
1. $E_3$:(Tasa de retorno=$11.25\%$; Años para el retorno=4, Riesgo=BBB)
1. $E_4$:(Tasa de retorno=$11.80\%$; Años para el retorno=3, Riesgo=A)
1. $E_5$:(Tasa de retorno=$10\%$; Años para el retorno=1, Riesgo=AAA)
1. $E_6$:(Tasa de retorno=$10.5\%$; Años para el retorno=4, Riesgo=BBB)
1. $E_7$:(Tasa de retorno=$12\%$; Años para el retorno=2, Riesgo=AA)
1. $E_8$:(Tasa de retorno=$6.0\%$; Años para el retorno=5, Riesgo=BB)
1. $E_9$:(Tasa de retorno=$9.6\%$; Años para el retorno=5, Riesgo=BB)

El fondo ha puesto ciertos requisitos para poder invertir en las empresas:

Por lo menos un cuarto del dinero debe de ser invertido en empresas con retorno de al menos 5 años (Con el objetivo de que las PYMES tengan oportunidad de operar y pagar la deuda).

La mitad del dinero o menos se le otorgará a las empresas que paguen el 10% o más de interés.

Tres cuartos del dinero o menos iria para empresas B, BB O BBB.

Un cuarto del dinero o menos iria para empresas A, AA o AAA.

**Función objetivo:**

$E_1+E_2+E_2+E_3+E_4+E_5+E_6+E_7+E_8+E_9=4000000$ Esta es la función a optimizar ya que estamos buscando máximizar el rendimiento según las exigencias del fondo de inversión. Entonces la suma de la inversión por empresa debería de dar el total de 4 millones.

**Restricciones:**

$E_1+E_2+E_8+E_9$ $\geq 1000000$ Esta desigualdad representa la primera restricción. Ya que nos dice que solo se podrá invertir un cuarto de los 4 millones a empresas que tengan un retorno de al menos 5 años.

$E_3+E_4+E_5+E_6+E_7$ $\leq 2000000$ Esta desigualdad representa la segunda restricción. Según el enunciado la mitad que son 2 millones serán invertidos en empresas que paguen las tasas más altas (a partir del 10%).

$E_1+E_2+E_3+E_6+E_8+E_9$ $\leq 3000000$ Esta desigualdad representa la tercera restricción. Se nos plantea que para poder invertir dinero, solo tres cuartos de este (3 millones) podrán ir a empresas con una calificación créditcia de B-BBB.

$E_4+E_5+E_7$ $\leq 1000000$ Esta desigualdad representa la cuarta restricción. Se nos plantea que para poder invertir dinero, solo un cuarto de este (1 millon) podrán ir a empresas con una calificación créditcia de A-AAA.

El problema se basa en una ronda de financiamiento ofrecida por un fondo de inversión algunos. En esta ronda se inscribieron diversas empresas pero no todas cumplirán con las condiciones establecidas por el fondo. 

Se tendrán como parámetros las tasas de interés/retorno que las empresas están ofreciendo para poder sacar el máximo rendimiento.

In [10]:
import scipy.optimize as opt
import numpy as np
import sympy as sym

In [1]:
import pandas as pd

In [11]:
c=np.array([-.0925,-.084,-.1125,-.1180,-.10,-.105,-.12,-.06,-.096])
A=np.array([[-1,-1,0,0,0,0,0,-1,-1],[0,0,1,1,1,1,1,0,0],[1,1,1,0,0,1,0,1,1],[0,0,0,1,1,0,1,0,0]])
b=np.array([-1000000,2000000,3000000,1000000])
Ae=np.array([[1,1,1,1,1,1,1,1,1]])
be=np.array([4000000])

In [12]:
sol=opt.linprog(c,A,b,Ae,be,bounds=(0,.1875*4000000),method='simplex')
sol

     con: array([0.])
     fun: -413500.0
 message: 'Optimization terminated successfully.'
     nit: 21
   slack: array([1000000.,       0.,       0.,       0.])
  status: 0
 success: True
       x: array([750000., 500000., 750000., 250000.,      0., 250000., 750000.,
            0., 750000.])

In [8]:
data=pd.read_csv('datosP.csv')
data

  Empresa Tasa de retorno  Periodo de retorno Riesgo de empresa
0     E_1           9.25%                   5                BB
1     E_2           8.40%                   5                BB
2     E_3          11.25%                   4               BBB
3     E_4          11.80%                   3                 A
4     E_5          10.00%                   1               AAA
5     E_6          10.50%                   4               BBB
6     E_7          12.00%                   2               AAA
7     E_8           6.00%                   5                BB
8     E_9           9.60%                   5                BB

In [2]:
datos=pd.read_csv('respuesta.csv')
datos

       Empresa Prestamo Maximizado
0          E_1        $750,000.00
1          E_2        $500,000.00
2          E_3        $750,000.00
3          E_4        $250,000.00
4          E_5               $-
5          E_6        $250,000.00
6          E_7        $750,000.00
7          E_8               $-
8          E_9        $750,000.00
9  Presupuesto      $4,000,000.00

**Conclusión: **


Usando la programación lineal establecemos que las mejores empresas para dar un préstamo de capital y que nos devuelva mayor utilidad con sus tasas de retorno son E_1, E_2, E_3, E_4, E_6, E_7 y  E_9. Además cumplimos el objetivo y sabemos que esta es la forma para optener capitalización máxima que nuestras restricciones nos permiten. En general, creemos que logramos aumentar el nivel de dificultad visto en clase y que aplicamos de forma correcta todo lo visto. El problema, a pesar de que no fue sencillo de plantear, creemos que fue uno muy completo y que abarca todos los requisitos de los objetivos, la materia y el profesor. Reforzamos mucho el tema de programación lineal ya que era el de más interés para los integrantes del equipo y aunado a esto, el que más se requiere en nuestra área profesional.